/* Colour Palette
Dark slate Gray: #2E5266
Light slate grey: #6E8898
Wild Blue: #9FB1BC
Light Gray: #D3D0CB
Meat Brown: #E2C044
Baby Powder: #FFFEF9
White: FFFDFC
*/
/*Global style
---------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    margin:0;
}
h1, h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700
}
h1 {
    font-size: 60px;
}
h2{
    font-size: 25px;
    margin-top: 0;
    font-weight: 700
}
a {
    color: mediumblue;       
}
.contentWrap {
    max-width:950px;
    margin:0 auto;
    padding: 50px;
    overflow: hidden;
}
.colNarrow {
    width: 30%;
    float: left;
}
.colWide {
    width: 70%;
    float:left;
    padding-left: 25px
    
}

/*header and footer
---------------------------*/
header, footer {
    background: #E2C044;
}
/* header */
.profileImg {
    border-radius: 50%;
}
header {
    text-align: center;
}
header h1, header h2{
    color: #FFFDFC;
    margin: 0;
}
 

/* footer */
footer{
    text-align: center;
}
.contactInfo a {
    background: #FFFEF9;
    margin: 5px;
    padding: 10px;
    display: inline-block; 
   
}
.quote{
    font-style: italic;
}
/*Work Experience
---------------------------*/
.skills  {
    background: #6E8898; 
    color: #FFFEF9
}

/*Education
---------------------------*/
.education {
    background: #D3D0CB;
    color: black;
}